
.navbar{
    width:100% ;
    padding: 30px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
  max-height: 100px;
   z-index: 10;
   background-color: #f9f6f6;
 
   
  
 
    .navbar-links{
ul{
    display: flex;
    gap: 16px;
    list-style: none;
   
    a{
            display: flex;
            color: black;
            text-decoration: none;
            font-size: 20px;
           
          }  
}
   }
    .navbar-buttons{
        display: flex;
        gap: 16px;
        
        
        button{
            padding: 12px 20px;
            border-radius: 8px;
            font-size: 16px;
            display: flex;
            gap: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                color: black;
                text-decoration: none;
            }
            
        }
    }
}
