#about-us{
    text-align: center;
    margin-top: 30px;
    
    hr{
       margin-top: 20px;
    }
 .about-heading{
    font-size: 40px;
    
    
 }
    .about-text{
      font-size: 20px;
      line-height: 35px;
      color: rgb(103, 107, 107);
      margin-top: 20px;
    }
   }

   .container{
      width: 1400px;
      margin: 0 auto;
   }
   .col-3{
      width: calc(100%/12*3);
      }
      #our-products{
         padding: 30px 0;
         text-align: center;
         .card{
            
            width: 320px;
            height: 280px;
            border: 1px solid rgb(162, 158, 158);
            border-radius: 10px;
            overflow: hidden;
            margin-top: 30px;
            
            img{
               width: 100%;
            }
            .card-name{
              margin-top: 10px;
            }
         
   
         }
         .our-products-heading{
            font-size: 40px;
            
         }
      }